
.rank__container {
    width: 71%;
    height: 80vh;
    margin: 10px auto 10px auto;
    background-color: $tertiary;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rank__table {
    width: 80%;
    margin-top: 20px;
    th {
        background-color: $primary;
    }

    tr:nth-child(odd) {
        background-color: $secondary;
    }
}

