@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body, html{
    font-family: 'Poppins', sans-serif;
    color: $box-color;
    background-color: $primary;
}

body, html, h1, h2, h3, h4, h5, li {
    margin: 0px;
}

p {
    color: darken($color: $box-color, $amount: 10);
}

a {
    color: $box-color;
    text-decoration: none;
}

a:hover {
    color: lighten($color: $primary, $amount: 50);
}


#root {
    background-color: $primary
}

.dispay-none {
    display: none;
}

