


body, html{
    font-family: 'Bebas Neue', cursive;
    color: $box-color;
    background-color: $primary;
}

body, html, h1, h2, h3, h4, h5, li {
    margin: 0px;
}

p {
    color: darken($color: $box-color, $amount: 10);
}

#root {
    background-color: $primary
}

.dispay-none {
    display: none;
}
